h1{
    color:blue;
    font: size 40px;
    border: 2px solid blue;
}
h1:hover{
    color:blueviolet;
}
a{
    color:aqua;
}
a:hover{
    color:brown;
}
a:active{
    color:black; 
}
p{
    color:red;
    font: size 10pt;
}
.ted{
    color:sandybrown
}